<ion-header>  
  <ion-toolbar class="new-background-color" >    
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>           
    </ion-buttons>

    <div class="divToolbarTitle">
      <ion-title><strong class="toolbarTitle">Rastreie seu produto {{userName}}</strong></ion-title>
    </div>


    <ion-buttons slot="start">
      <ion-button (click)="ordersPag()">
        <ion-icon slot="end" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>  
</ion-header>

<div class="setaBox">
  <span>Click e veja os itens desse pedido</span>
    <ion-button (click)="toogleBlocks()" fill="clear" size="small" class="seta">  
    <ion-icon slot="icon-only" class="iconSeta" [name]="initialStep > 0 ? 'arrow-down-outline' : 'arrow-up-outline'"></ion-icon> 
  </ion-button>
</div>

<ion-content >

  <div class="boxCardItem blocks" #blocks >
    <ion-card class="ion-text-center card" style="width:100%">
      <ion-card-title><strong>Empresa: {{order.marketplace}}</strong></ion-card-title>
      <ion-card-title><strong>Pedido Nº {{order.id}}</strong></ion-card-title>
      <ion-card-content> 
        <ion-row class="margin-l">
          <ion-card class="ion-text-center card itemDetail" style="width:100%" *ngFor="let item of items">
            <ion-card-title class="titleItem">{{ item.description}}</ion-card-title>
            <ion-card-subtitle class="titleDescription">Qtd:{{item.quantity}}</ion-card-subtitle> 
            <ion-card-subtitle class="titleDescription">R$ {{item.price}}</ion-card-subtitle>          
          </ion-card>
        </ion-row>       
      </ion-card-content>
    </ion-card>
  </div>  

  <!--parte abaixo do tracking-->
  <div class="container" >
    <div class="container2">
      <ul class="proguessbar">
        <li class="circle" id="first">
          <ion-icon name="checkmark-circle-outline" class="html" id="firstIcon"></ion-icon>          
        </li>
        <li class="circle" id="second">
          <ion-icon name="download-outline" class="html" id="secondIcon"></ion-icon>          
        </li>
        <li class="circle" id="thirth">
          <ion-icon name="airplane-outline" class="html" id="thirthIcon"></ion-icon>                
        </li>
        <li class="circle" id="four">
          <ion-icon name="home-outline" class="html" id="fourIcon"></ion-icon>          
        </li>
      </ul>

      <div class="textAbaixo">
        <strong>{{step0}}</strong>
        <strong>{{step1}}</strong>
        <strong>{{step2}}</strong>
        <strong>{{step3}}</strong>
      </div>
    </div>
  </div>
</ion-content>
