<ion-content class="swiper-no-swiping">

  <ion-grid class="body">

    <div class="sizeControl">

    <ion-header class="ion-no-border">

        <ion-toolbar class="new-background-color boxToolbar">         
          
          <ion-buttons slot="end" class="logoutButton">
            <ion-button (click)="logout()" >
              <ion-icon slot="end" name="log-out" ></ion-icon>
            </ion-button>           
          </ion-buttons>          
          
          <ion-grid class="imageBox">
            <img class="logo" src="../../assets/logo Branco.png">
          </ion-grid>        

          <ion-buttons slot="start" class="backButton" >
            <ion-button (click)="ordersPag()"  >
              <ion-icon slot="end" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>               

        </ion-toolbar>      

    </ion-header>

    <h2><strong>Edite sua Nova Senha</strong></h2>

    <ion-grid class="container">

      <form [formGroup]="formUser" class="form">        

        <ion-item class="formRows" lines="none">
          <ion-input type="password" placeholder="Senha Atual" formControlName="password"></ion-input>
          <ion-note slot="end" color="danger"
            *ngIf="!formUser.controls.password.dirty && formUser.controls.password.hasError('required')">*
          </ion-note>          
          <ion-icon slot="end" name="bag-outline"></ion-icon>
        </ion-item>

        <ion-item class="formRows" lines="none">
          <ion-input type="password" placeholder="Confirme Senha Atual" formControlName="confirmPassword" (ionChange)="passwordShowNew()" ></ion-input>
          <ion-note slot="end" color="danger"
            *ngIf="!formUser.controls.confirmPassword.dirty && formUser.controls.confirmPassword.hasError('required')">*
          </ion-note>
          <ion-icon slot="end" name="bag-outline"></ion-icon>          
        </ion-item> 

      </form><!--fim form class formUser-->

          
      <form [formGroup]="formPassword">
        <div class="passwordChangeBox" id="passwordChangeBox">          
          <ion-item class="formRows" lines="none">
            <ion-input type="password" placeholder="Senha Nova" formControlName="newPassword"></ion-input>
            <ion-note slot="end" color="danger"
              *ngIf="!formPassword.controls.newPassword.dirty && formPassword.controls.newPassword.hasError('required')">*
            </ion-note>            
            <ion-icon slot="end" name="bag-outline"></ion-icon>
          </ion-item>
        </div> 
      </form><!--fim form class formPassword-->
          
        <form [formGroup]="formConfirmPassword">
          <div class="passwordChangeBox" id="passwordChangeBox2"> 
          <ion-item class="formRows" lines="none">
            <ion-input type="password" placeholder="Confirme Senha Nova" formControlName="newConfirmPassword" (keypress)="onPassKeyPress($event.keyCode)"></ion-input>
            <ion-note slot="end" color="danger"
              *ngIf="!formConfirmPassword.controls.newConfirmPassword.dirty && formConfirmPassword.controls.newConfirmPassword.hasError('required')">*
            </ion-note>
            <ion-icon slot="end" name="bag-outline"></ion-icon>          
          </ion-item>
        </div>        
      </form><!--fim form class formConfirmPassword--> 
      
      <ion-button class="ion-margin-top buttonLogin" (click)="registerNewPasword()" color="light" expand="block" [disabled]="formConfirmPassword.invalid">
        <strong>Trocar Senha</strong>
      </ion-button>

    </ion-grid>

  </div>

  </ion-grid><!--fim grid class body-->

</ion-content>
